<aside class="asidel">
    <h1>这是什么？</h1>
    <div>这是在2020-2021学年计算机科学导论上设计出的简单网站，这个网站主要为了学生和老师服务。<br>
        其设计的目的是为了给学生日常学习提供一个一站式解决方案。</div>
    <ul>
        <li>支持老师和学生登录</li>
        <li>支持签到功能</li>
        <li>支持发布和查看作业</li>
        <li>支持以文字为主的评论</li>
    </ul>
    <br>
    <h1>我们是谁？</h1>
    <div>我们是来自电子信息与工程学院-计算机科学与技术专业-大二的学生，本次课程为第七组</div>
    <ul>
        <li>谢子康<br>负责登录界面</li>
        <li>邬嘉晟<br>负责主页</li>
        <li>肖鹏飞，沈浩然<br>负责签到功能</li>
        <li>胡浚桐，林佳奕，孙弘毅<br>负责作业和评论</li>
    </ul>
</aside>